body{
    background: rgb(231, 32, 65);
    font: normal 15pt arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
p{
    text-align: center;
}
#sh, #next{
    background-color: white;
	font-weight: bolder !important;
}

#next{
	border-radius: 3px;
	background: rgb(231, 32, 65);
	color: white;
	font: normal 11pt arial;
}

@media screen and (max-width: 600px){
    section{
        width: 85%;
    }
    input#pass{
        width: 10.15em;
    }
}

@media screen and (min-width: 600px){
    section{
        width: 500px;
    }
    input#pass{
        width: 27.3%;
    }
}
