@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    background: rgb(231, 32, 65);
    font: normal 20pt 'Roboto', sans-serif;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 5px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
	text-align: center;
	color: #4a4949;
}

input:focus{
    outline: 0;
}

.dataerror{
	font-size: 0.7em;
	float: left;
	text-align: left !important;
	margin: -10px 0 8px 5px;
}

.ferror{
	border-color: red;
}


.data{
	width: 70%;
	height: 2em;
	border-radius: 6px;
	padding-left: 2px;
	padding-right: 2px;
	font: normal 0.6em 'Roboto', sans-serif;
}

#btnMonkey{
	margin-top: 20px;
}

.btns{
	background: white;
	border-radius: 5px;
	color: white !important;
	font-weight: bolder;
}

.btnsNB{
	background: rgb(231, 32, 65) !important;
	border: none;
	padding: 5px;
	margin-top: -20px;
}

#txtSH{	
	font-size: 0.6em;
	font-weight: bolder;
}

.inative{
	background-color: #a0a0a0 !important;
	box-shadow: 1px 1px 5px black;
}

@media screen and (max-width: 600px){
	.btnsNB{
		width: 90%;
	}
	
	#txtSH{
		display: none;
	}
}

@media screen and (min-width: 600px){
	section{
		width: 35%;
	}
	.btnsNB{
		padding: 8px;
		font-size: 0.75em;
	}
}